
$ARROW_SIZING: 40px;



.site-name {
  display: inline-block;
  padding: $ARROW_SIZING/2;
  margin: 0 0 20px (-$ARROW_SIZING/2);
  position: relative;
  color: #d2d2d2;
  background-color: brown;
  box-shadow: 0px 3px 10px rgba(0,0,0,.5);
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0,0,0,.3);
  font-family: Arial;
  font-size: $ARROW_SIZING;
  font-weight: 700;
  line-height: 1;
  margin-left: 5px;
}

.site-name:after {
  display: table;
  content: "";
  position: absolute;
  top: 0;
  right: -$ARROW_SIZING;
  width: 0;
	height: 0;
	border-top: $ARROW_SIZING solid transparent;
	border-bottom: $ARROW_SIZING solid transparent;
}



.about_redeemed_image {
  display: block;
  margin: 0 auto;
  display:block;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  overflow: hidden;
  padding:10px 4px;
}




.tab_cont {
  margin: 0 auto;
  display:block;
  width: 90%;
  overflow: hidden;
  padding:10px 4px;
}

label.control-label.string.required {
  position: relative;
  left:28px;
}

label.control-label.email.required {
  position: relative;
  left:28px;
}
