button.btn-primary.btn-lg.btn-block.removedecor {
  text-decoration: none
}



.body-two{
	width: 100%;
	margin:0 auto;
	color: #444;
	font-family: helvetica;
  position: relative;
  z-index: 1;

}
a:link, a:visited{
	font-weight: 700;
	transition: .2s color ease-in-out;
}
a:hover, a:active{
	color: #888;
}

/*styling content*/
main{
	padding: 1.5rem;
	line-height: 2.6rem;
}
section>p{
	text-indent: 2.6rem;
}


/*styling the header part*/
.toggle-menu{
	display: none;
}

.site-title img{
	max-width: 130px;
	display: inline-block;
	vertical-align: middle;
  // border-radius: 50%;
  margin-top:-39px;
  margin-bottom: -47px;
}

.nav-list{
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	white-space: nowrap;
  background: none      /* Generic*/
// https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8_LGf-loKOnI-gYwDIyDEPx_AolI9AXEIGHDIlPHgRv6QIvVPsQ
}
.nav-list > li {
	position: relative;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;

}

.nav-list>li:not(.has-logo)>a{
	text-transform: uppercase;
	display: block;
	padding:1rem;
  color:white;
  margin-top: 10%;

}

.nav-list ul{
	position: absolute;
	z-index: 1010;
	background-color: #fff;
	line-height: 2rem;
	left: -9999px;
}

.nav-list ul a{
	font-weight: normal;
	display: block;
	padding: .5rem 1rem;
}

.nav-list > li:hover a + ul{
	left: 0;
	top:100%;
}

.mobile-display{
	display: none;

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  .body-two{
    width: 100%;
  	margin:0 auto;
  	color: #444;
  	font-family: helvetica;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .body-two{
    width: 100%;
  	margin:0 auto;
  	color: #444;
  	font-family: helvetica;
  }
 }

@media only screen and (max-width: 58.75rem){

  .body-two{
    width: 100%;
  	margin:0 auto;
  	color: #444;
  	border: none;
  	font-family: helvetica;
  }

	.has-logo{
		display: none;
	}
	.mobile-display{
		display: block;
		margin:2rem auto;
		text-align: center;
    margin-top:-8px;
    margin-bottom: -1px;
    position: relative;
    z-index: 1;
	}
  .site-title img{
  	max-width: 140px;
  	display: inline-block;
  	vertical-align: middle;
    border-radius: 50%;
    margin-top:-8px;
    margin-bottom: -4px;
  }
  .nav-list {
  }
}
@media only screen and (max-width: 33.68rem){
	.toggle-menu{
		display: block;
		max-width: -webkit-min-content;
		max-width: -moz-min-content;
		max-width: min-content;
		margin: 1rem auto;
		background-color: #FF1493;
		text-align: center;
		color: #fff !important;
		padding: 1rem;
		border-radius: .25em;

	}

	.toggle-menu:hover{background-color: #f92266;}

	.nav-list{
		display: block;
		width: 100%;
		position: static;
		line-height: 1rem;
		z-index: 1012;
		left: 0;
		top:0;
		background-color: #FF1493;

		max-height: 0;
		overflow: hidden;
	}

	.active{
		max-height: 100%;
		overflow: auto;
	}


	.nav-list  ul{
		position: static;
		text-indent: 2rem;
		z-index: 1013;
	}
}


// the church name


h1 span.light{
  color:#FF0000;
  text-shadow:
    0px 1px 0px #c0c0c0,
    0px 2px 0px #b0b0b0,
    0px 3px 0px #a0a0a0,
    0px 4px 0px #909090,
    0px 5px 10px rgba(0, 0, 0, 0.6)
    ;


    width: 800px;
    height: 200px;
    line-height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -400px;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    text-transform:uppercase;
    font-size: 60px;
    cursor:pointer;
    user-select: none;
}


h1:active{
  line-height: 205px;
}

h1:active span.light{
  color:#fefefe;
  text-shadow:
    0px 0px 0px #c0c0c0,
    0px 0px 0px #b0b0b0,
    0px 0px 0px #a0a0a0,
    0px 0px 0px #909090,
    0px 1px 3px rgba(0, 0, 0, 0.4)
    ;
}

 @media only screen and (max-width: 500px) {
   h1 span.light {
     width: 800px;
     height: 200px;
     line-height: 200px;
     position: relative;
     top: 50%;
     left: 50%;
     margin: -100px 0 0 -300px;
     text-align:center;
     font-family: 'Montserrat', sans-serif;
     text-transform:uppercase;
     cursor:pointer;
     user-select: none;
   }

 }
 @media only screen and (max-width: 1140px) {
   li.has-submenu{
  font-size: 30px;
   }

 }

 @media screen and (max-width: 1140px){
 h1 span.light  {
    font-size: 23px;
}
}
 @media screen and (max-width: 1140px){
 div.button.middle  {
    margin-top: 70px;
}
}








 // the background slider

 body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
 	margin:0;
 	padding:0;
 }
 html,body {
 	margin:0;
 	padding:0;
 }
 table {
 	border-collapse:collapse;
 	border-spacing:0;
 }
 fieldset,img {
 	border:0;
 }
 input{
 	border:1px solid #b0b0b0;
 	padding:3px 5px 4px;
 	color:#979797;
 	width:190px;
 }
 address,caption,cite,code,dfn,th,var {
 	font-style:normal;
 	font-weight:normal;
 }
 ol,ul {
 	list-style:none;
 }
 caption,th {
 	text-align:left;
 }
 h1,h2,h3,h4,h5,h6 {
 	font-size:100%;
 	font-weight:normal;
 }
 q:before,q:after {
 	content:'';
 }
 abbr,acronym { border:0;
 }
 /* General Demo Style */
 body{
   font-family: "helvetica neue", helvetica;
 	background: #000;
 	font-weight: 400;
 	font-size: 15px;
 	color: #aa3e03;
 	overflow-y: scroll;
 	overflow-x: hidden;
 }
 .ie7 body{
 	overflow:hidden;
 }
 a{
 	color: #333;
 	text-decoration: none;
 }
 .container{
 	position: relative;
 	text-align: center;
 }
 .clr{
 	clear: both;
 }
 .container > header{
 	padding: 30px 30px 10px 20px;
 	margin: 0px 20px 10px 20px;
 	position: relative;
 	display: block;
 	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
     text-align: left;
 }
 .container > header h1{
   font-family: "helvetica neue", helvetica;
 	font-size: 35px;
 	line-height: 35px;
 	position: relative;
 	font-weight: 400;
 	color: #fff;
 	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
     padding: 0px 0px 5px 0px;
 }

 .container > header h2, p.info{
 	font-size: 16px;
 	font-style: italic;
 	color: #f8f8f8;
 	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
 }

 .slideshow,
 .slideshow:after {
     position: fixed;
     width: 100%;
     height: 100%;
     top: 0px;
     left: 0px;
     z-index: 0;
 }

 .slideshow li span {
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0px;
     left: 0px;
     color: transparent;
     background-size: cover;
     background-position: 50% 50%;
     background-repeat: none;
     opacity: 0;
     z-index: 0;
 	-webkit-backface-visibility: hidden;
     -webkit-animation: imageAnimation 36s linear infinite 0s;
     -moz-animation: imageAnimation 36s linear infinite 0s;
     -o-animation: imageAnimation 36s linear infinite 0s;
     -ms-animation: imageAnimation 36s linear infinite 0s;
     animation: imageAnimation 36s linear infinite 0s;
 }
 .slideshow li div {
     z-index: 1000;
     position: absolute;
     bottom: 30px;
     left: 0px;
     width: 100%;
     text-align: center;
     opacity: 0;
     -webkit-animation: titleAnimation 36s linear infinite 0s;
     -moz-animation: titleAnimation 36s linear infinite 0s;
     -o-animation: titleAnimation 36s linear infinite 0s;
     -ms-animation: titleAnimation 36s linear infinite 0s;
     animation: titleAnimation 36s linear infinite 0s;
 }
 .slideshow li div h3 {
   font-family: "helvetica neue", helvetica;
   text-transform: uppercase;
   font-size: 80px;
   padding: 0;
   line-height: 200px;
 	color: rgba(255,255,255, 0.8);
 }
 .slideshow li:nth-child(1) span { background-image: url(https://wordhavering.files.wordpress.com/2013/03/green-pastures.jpg) }
 .slideshow li:nth-child(2) span {
     background-image: url(http://img07.deviantart.net/53f2/i/2011/231/3/1/green_pasture_15345928_by_stockproject1-d475p41.jpg);
     -webkit-animation-delay: 6s;
     -moz-animation-delay: 6s;
     -o-animation-delay: 6s;
     -ms-animation-delay: 6s;
     animation-delay: 6s;
 }
 .slideshow li:nth-child(3) span {
     background-image: url(http://3.bp.blogspot.com/-fdld-vcP9ME/VZZ-kT5g0xI/AAAAAAAAQAY/Sk457inCriE/s1600/30-wondorful-nature-wallpapers-stylonica.jpg);
     -webkit-animation-delay: 12s;
     -moz-animation-delay: 12s;
     -o-animation-delay: 12s;
     -ms-animation-delay: 12s;
     animation-delay: 12s;
 }

 .slideshow li:nth-child(6) span {
     background-image: url(https://31.media.tumblr.com/67d222ee577fc35faca83f0e08efc48e/tumblr_mzzqt7wyEU1st5lhmo1_1280.jpg);
     -webkit-animation-delay: 30s;
     -moz-animation-delay: 30s;
     -o-animation-delay: 30s;
     -ms-animation-delay: 30s;
     animation-delay: 30s;
 }
 .slideshow li:nth-child(2) div {
     -webkit-animation-delay: 6s;
     -moz-animation-delay: 6s;
     -o-animation-delay: 6s;
     -ms-animation-delay: 6s;
     animation-delay: 6s;
 }
 .slideshow li:nth-child(3) div {
     -webkit-animation-delay: 12s;
     -moz-animation-delay: 12s;
     -o-animation-delay: 12s;
     -ms-animation-delay: 12s;
     animation-delay: 12s;
 }
 .slideshow li:nth-child(4) div {
     -webkit-animation-delay: 18s;
     -moz-animation-delay: 18s;
     -o-animation-delay: 18s;
     -ms-animation-delay: 18s;
     animation-delay: 18s;
 }
 .slideshow li:nth-child(5) div {
     -webkit-animation-delay: 24s;
     -moz-animation-delay: 24s;
     -o-animation-delay: 24s;
     -ms-animation-delay: 24s;
     animation-delay: 24s;
 }
 .slideshow li:nth-child(6) div {
     -webkit-animation-delay: 30s;
     -moz-animation-delay: 30s;
     -o-animation-delay: 30s;
     -ms-animation-delay: 30s;
     animation-delay: 30s;
 }
 /* Animation for the slideshow images */
 @-webkit-keyframes imageAnimation {
 	0% {
 	    opacity: 0;
 	    -webkit-animation-timing-function: ease-in;
 	}
 	8% {
 	    opacity: 1;
 	    -webkit-transform: scale(1.05);
 	    -webkit-animation-timing-function: ease-out;
 	}
 	17% {
 	    opacity: 1;
 	    -webkit-transform: scale(1.1);
 	}
 	25% {
 	    opacity: 0;
 	    -webkit-transform: scale(1.1);
 	}
 	100% { opacity: 0 }
 }
 @-moz-keyframes imageAnimation {
 	0% {
 	    opacity: 0;
 	    -moz-animation-timing-function: ease-in;
 	}
 	8% {
 	    opacity: 1;
 	    -moz-transform: scale(1.05);
 	    -moz-animation-timing-function: ease-out;
 	}
 	17% {
 	    opacity: 1;
 	    -moz-transform: scale(1.1);
 	}
 	25% {
 	    opacity: 0;
 	    -moz-transform: scale(1.1);
 	}
 	100% { opacity: 0 }
 }
 @-o-keyframes imageAnimation {
 	0% {
 	    opacity: 0;
 	    -o-animation-timing-function: ease-in;
 	}
 	8% {
 	    opacity: 1;
 	    -o-transform: scale(1.05);
 	    -o-animation-timing-function: ease-out;
 	}
 	17% {
 	    opacity: 1;
 	    -o-transform: scale(1.1);
 	}
 	25% {
 	    opacity: 0;
 	    -o-transform: scale(1.1);
 	}
 	100% { opacity: 0 }
 }
 @-ms-keyframes imageAnimation {
 	0% {
 	    opacity: 0;
 	    -ms-animation-timing-function: ease-in;
 	}
 	8% {
 	    opacity: 1;
 	    -ms-transform: scale(1.05);
 	    -ms-animation-timing-function: ease-out;
 	}
 	17% {
 	    opacity: 1;
 	    -ms-transform: scale(1.1);
 	}
 	25% {
 	    opacity: 0;
 	    -ms-transform: scale(1.1);
 	}
 	100% { opacity: 0 }
 }
 @keyframes imageAnimation {
 	0% {
 	    opacity: 0;
 	    animation-timing-function: ease-in;
 	}
 	8% {
 	    opacity: 1;
 	    transform: scale(1.05);
 	    animation-timing-function: ease-out;
 	}
 	17% {
 	    opacity: 1;
 	    transform: scale(1.1);
 	}
 	25% {
 	    opacity: 0;
 	    transform: scale(1.1);
 	}
 	100% { opacity: 0 }
 }
 /* Animation for the title */
 @-webkit-keyframes titleAnimation {
 	0% {
 	    opacity: 0;
 	    -webkit-transform: translateY(200px);
 	}
 	8% {
 	    opacity: 1;
 	    -webkit-transform: translateY(0px);
 	}
 	17% {
 	    opacity: 1;
 	    -webkit-transform: scale(1);
 	}
 	19% { opacity: 0 }
 	25% {
 	    opacity: 0;
 	    -webkit-transform: scale(10);
 	}
 	100% { opacity: 0 }
 }
 @-moz-keyframes titleAnimation {
 	0% {
 	    opacity: 0;
 	    -moz-transform: translateY(200px);
 	}
 	8% {
 	    opacity: 1;
 	    -moz-transform: translateY(0px);
 	}
 	17% {
 	    opacity: 1;
 	    -moz-transform: scale(1);
 	}
 	19% { opacity: 0 }
 	25% {
 	    opacity: 0;
 	    -moz-transform: scale(10);
 	}
 	100% { opacity: 0 }
 }
 @-o-keyframes titleAnimation {
 	0% {
 	    opacity: 0;
 	    -o-transform: translateY(200px);
 	}
 	8% {
 	    opacity: 1;
 	    -o-transform: translateY(0px);
 	}
 	17% {
 	    opacity: 1;
 	    -o-transform: scale(1);
 	}
 	19% { opacity: 0 }
 	25% {
 	    opacity: 0;
 	    -o-transform: scale(10);
 	}
 	100% { opacity: 0 }
 }
 @-ms-keyframes titleAnimation {
 	0% {
 	    opacity: 0;
 	    -ms-transform: translateY(200px);
 	}
 	8% {
 	    opacity: 1;
 	    -ms-transform: translateY(0px);
 	}
 	17% {
 	    opacity: 1;
 	    -ms-transform: scale(1);
 	}
 	19% { opacity: 0 }
 	25% {
 	    opacity: 0;
 	    -webkit-transform: scale(10);
 	}
 	100% { opacity: 0 }
 }
 @keyframes titleAnimation {
 	0% {
 	    opacity: 0;
 	    transform: translateY(200px);
 	}
 	8% {
 	    opacity: 1;
 	    transform: translateY(0px);
 	}
 	17% {
 	    opacity: 1;
 	    transform: scale(1);
 	}
 	19% { opacity: 0 }
 	25% {
 	    opacity: 0;
 	    transform: scale(10);
 	}
 	100% { opacity: 0 }
 }
 /* Show at least something when animations not supported */
 .no-cssanimations .slideshow li span{
 	opacity: 1;
 }
 @media screen and (max-width: 1140px) {
 	.slideshow li div h3 { font-size: 100px }
 }
 @media screen and (max-width: 600px) {
 	.slideshow li div h3 { font-size: 50px }
 }





 // the sider bar menu


  body
  {
    margin:0px;
    padding:0px;
  	font-family: "Open Sans", arial;
  	background:url('https://static.tumblr.com/94eb957a00fd03c0c2f7d26decd71578/u1rhacw/osAmyyh1q/tumblr_static_tumblr_static_gaussian_blur_gradient_desktop_1680x943_wallpaper-393751.jpg');
  	color:#fff;
  	font-weight:300;
   z-index: 1;

  }



  .logo{

  }

  .settings {

    height:73px;
    float:left;
    background: url("/images/langa2.jpg");
    background-repeat:no-repeat;
    width:250px;
    margin:0px;
   text-align: center;
  font-size:20px;
  font-family: 'Strait', sans-serif;
    z-index: 1;

  }






  /* ScrolBar  */
  .scrollbar
  {

  height: 90%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
    z-index: 1;
  }

  .scrollbar:hover
  {

  height: 90%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
    z-index: 1;
  }

  /* Scrollbar Style */



  #style-1::-webkit-scrollbar-track
  {
  border-radius: 2px;
    z-index: 1;
  }

  #style-1::-webkit-scrollbar
  {
  width: 5px;
  background-color: #001f3f;
    z-index: 1;
  }

  #style-1::-webkit-scrollbar-thumb
  {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #BFBFBF;
    z-index: 1;
  }
  /* Scrollbar End */




  .fa-lg {
  font-size: 1em;
    z-index: 1;

  }
  .fa {
  position: relative;
  display: table-cell;
  width: 55px;
  height: 36px;
  text-align: center;
  top:12px;
  font-size:20px;
    z-index: 1;

  }



  .main-menu:hover, nav.main-menu.expanded {
  width:250px;
  overflow:hidden;
  opacity:1;
    z-index: 1;

  }

  .main-menu {
  background:#001f3f;
  position:absolute;
  top:0;
  bottom:0;
  height:82%;
  left:0;
  width:55px;
  overflow:hidden;
  -webkit-transition:width .2s linear;
  transition:width .2s linear;
  -webkit-transform:translateZ(0) scale(1,1);
  box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
    opacity:1;
      z-index: 1;
  }

  .main-menu>ul {
  margin:7px 0;

  }

  .main-menu li {
  position:relative;
  display:block;
  width:250px;



  }

  .main-menu li>a {
  position:relative;
  width:255px;
  display:table;
  border-collapse:collapse;
  border-spacing:0;
  color:white;
  font-size: 13px;
  text-decoration:none;
  -webkit-transform:translateZ(0) scale(1,1);
  -webkit-transition:all .14s linear;
  transition:all .14s linear;
  font-family: 'Strait', sans-serif;
  border-top:2px solid #f2f2f2;

  }



  .main-menu .nav-icon {

  position:relative;
  display:table-cell;
  width:55px;
  height:36px;
  text-align:center;
  vertical-align:middle;
  font-size:18px;

  }

  .main-menu .nav-text  {

  position:relative;
  display:table-cell;
  vertical-align:middle;
  width:190px;
  font-family: 'Titillium Web', sans-serif;
  }

  .main-menu .share {
  }



  .main-menu .fb-like {

  left: 180px;
  position:absolute;
  top: 15px;
  }

  .main-menu>ul.logout {
  position:absolute;
  left:0;
  bottom:0;

  }

  .no-touch .scrollable.hover {
  overflow-y:hidden;

  }

  .no-touch .scrollable.hover:hover {
  overflow-y:auto;
  overflow:visible;

  }


  /* Logo Hover Property */


  .settings:hover, settings:focus {
    background:url( https://s17.postimg.org/74cl7s05b/logo_hover.jpg);
    -webkit-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
  -moz-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
  -o-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
  transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
  }

  .settings:active, settings:focus {
    background:url( https://s3.postimg.org/bqfooag4z/startific.jpg);
    -webkit-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
  -moz-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
  -o-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
  transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
  }


  a:hover,a:focus {
  text-decoration:none;
  border-left:0px solid #001f3f;



  }

  nav {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;

  }

  nav ul,nav li {
  outline:0;
  margin:0;
  padding:0;
  text-transform: uppercase;
  }




  /* Darker element side menu Start*/


  .darkerli
  {
  background-color:#8B0000;
  text-transform:capitalize;
  }

  .darkerlishadow
  {
  background-color:#191970;
  text-transform:capitalize;
  -webkit-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
  -moz-box-shadow:    inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
  box-shadow:         inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
  }


  .darkerlishadowdown
  {
  background-color:#ededed;
  text-transform:capitalize;
  -webkit-box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
  -moz-box-shadow:    inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
  box-shadow:         inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
  }

  /* Darker element side menu End*/




  .main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
  color:#fff;
  background-color:#00bbbb;
  text-shadow: 0px 0px 0px;
  }
  .area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
  }
  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
  }
