.img-responsive {
  // min-height: 150px;
  //  min-width: 150px;
  //  margin-left: auto;
  //  margin-right: auto;
  //  text-align: center;
  //  display: table-cell;
  //  vertical-align: middle;
  //  margin-bottom: 20px;
  //  margin: auto;
   padding: 10px;
   margin-bottom: 10px;
}

a.img-responsive {
  // display: block;
  //    margin: 0 auto;
     border: none;

}


hr.devidepost
 {border-color: green;
 }


div.posttitle {
  color:blue;
  font-size:20px;
  font-weight:bold
}

div.post_body_index {
  text-align: center;
  text-align: justify;
  margin: 0 auto;
  padding-left:15px;
  margin-right:15px;
}

div.post-show-body {
  text-align: center;
  text-align: justify;
  margin: 0 auto;
  padding-bottom:30px;
  padding-left:30px;
  padding-right:30px
}
